*{
	margin:0;
	padding: 0;
}
.clear{
	clear: both;
}
a{
	text-decoration: none;
	color: #fff;
}
ul li{
	list-style-type: none;
}
.clear{
	clear: both;
}
.wapper{
	width: 100%;
}
header{
	width: 100%;
	height: 80px;
	margin:0 auto;
	background-color: #000;
	padding-left: 50px;
}
.log{
	font-size: 20px;
	float: left;
	color: #fff;
	line-height: 80px;
}
.log a{
	color: #fff;
}
.admin{
    float: right;
    margin-right: 40px;
}
.admin ul li{
	float: left;
	list-style-type: none;
	margin-right: 40px;
	line-height: 80px;
}
.admin ul li a{
	font-size: 16px;
}
section{
	width: 100%;
	position: relative;
}
section  .bar{
	height: 50px;
	background-color: #F2F2F2;
	border-bottom: 2px solid #E5E5E5;

}
section  .bar .b-lef{
	width: 208px;
	height: 50px;
	border-right:  2px solid #E5E5E5;
	float: left;
	line-height: 50px;
	color: #000;
	font-size: 22px;
}
section  .bar .b-lef span{
	margin-left: 20px;
}
section  .bar .b-rig{
	height: 50px;
	line-height: 50px;
	color: #000;
	float: left;
}
section  .bar .b-rig span{
	margin-left: 20px;
}
section  .bar .b-rig span a{
    color: #000;
}
section .sec{
	width: 100%；
}
.sec .menu{
	width: 208px;
	height: 400px;
	background-color:  #F2F2F2;
	border-right:  2px solid #E5E5E5;
	position: absolute;
	top: 52px;
	left: 0;
}
.menu .fot{
	width: 100%;
	padding-top: 20px;
}
.menu .fot li{
	width: 200px;
	height: 40px;
	background-color: #fff;
	text-align: center;
	line-height: 40px;
	margin-bottom: 20px;
}
.menu .fot li a{
	color: #000;
}
.sec .cont{
	margin-left: 210px;
}
.sec .cont .sel{
	width: 100%;
	background-color: #F2F2F2;
	padding:20px 0 0 20px;
}
.sel .del{
	height: 80px;
	display: block;
	margin-bottom: 10px;
}
.cont .sel input{
	width: 200px;
	height: 30px;
	border-radius: 10px;
	padding-left: 10px;
	box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.075);
}
.cont .sel button{
	width: 80px;
	height: 30px;
	color: #fff;
	background-color:#0044cc; 
	border: 0;
	border-radius: 5px;
	margin-left:5px;
}
.sec .cont .sel p{
	margin-top: 20px;
}
.sec .cont .sel p a{
	color: red;
}
.cont #list table{
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
} 
#list table tr th{
	width: 200px;
	background-color: #F2F2F2;
}
#list table tr th,#list table tr td{
	height: 30px;
}
#list table tr td button{
	font-size: 16px;
}